@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #af101a;
  --color-secondary: #1b6d24;
  --color-tertiary: #8b4400;
  --color-background: #f3faff;
  --color-on-background: #071e27;
  --color-surface: #ffffff;
  --color-surface-variant: #cfe6f2;
  --color-outline: #8f6f6c;
  
  --color-primary-container: #d32f2f;
  --color-secondary-container: #a0f399;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;
}

@layer base {
  body {
    @apply bg-background text-on-background font-sans;
  }

  @media print {
    @page {
      size: A4 landscape;
      margin: 1cm;
    }
    
    body {
      background: white !important;
    }

    .no-print {
      display: none !important;
    }

    .print-only {
      display: block !important;
    }

    .print-map-container {
      width: 100% !important;
      padding: 0 !important;
      margin: 0 !important;
      box-shadow: none !important;
      border: none !important;
    }

    .print-map-content {
      min-width: unset !important;
      zoom: 0.8; /* Adjust zoom for A4 fit */
    }
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-gray-50 rounded-full;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-200 rounded-full hover:bg-gray-300 transition-colors;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
